<ion-header>
    <ion-navbar>
        <ion-title>
            My Data
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="addData()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h2>Data List</h2>
    <ion-list>
        <ion-item-sliding *ngFor="let user of userses; let i=index">
            <ion-item nopadding>
                <p>
                    <span>{{user.name}}</span><br> email: {{user.email}}<br>
                </p>
                <h3 item-end>
                    LoginCount: {{user.logincount}}
                </h3>
            </ion-item>
            <ion-item-options side="right">
                <button ion-button color="primary" (click)="editData(user.id)">
                    <ion-icon name="paper"></ion-icon>
                </button>
                <button ion-button color="danger" (click)="deleteData(user.id)">
                    <ion-icon name="trash"></ion-icon>
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-list inset>
        <ion-item *ngFor="let user of users">
            <h2>{{user.name}}</h2>
            <p>{{user.email}}</p>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-title>Total Users: {{totalcount}}</ion-title>
    </ion-toolbar>
</ion-footer>