<ion-header>
    <ion-navbar color="main">
        <ion-title>
            Collected Data
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="onSearchInput()" [formControl]="searchControl"></ion-searchbar>
    <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>
    <h2>Data List</h2>
    <ion-list>
        <ion-item-sliding *ngFor="let user of userses">
            <ion-item nopadding>
                <p>
                    <strong>Name:</strong> &nbsp;<span>{{user.name}}</span>
                    <br><strong>Phone:</strong> &nbsp; {{ user.phone }}
                </p>
            </ion-item>
            <ion-item-options side="right">
                <!--button ion-button color="primary" (click)="editData(user.rowid)">
                    <ion-icon name="paper"></ion-icon>
                </button-->
                <button ion-button color="danger" (click)="deleteData(user.rowid)">
                    <ion-icon name="trash"></ion-icon>
                </button>
            </ion-item-options>
            <ion-item-options side="left">
                <button ion-button color="primary" (click)="editData(user.rowid)">
                    <ion-icon name="paper"></ion-icon>
                </button>
                <!--button ion-button color="danger" (click)="deleteData(user.rowid)">
                    <ion-icon name="trash"></ion-icon>
                </button-->
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar color="main">
        <ion-title>Total Records: {{totalcount}}</ion-title>
    </ion-toolbar>
</ion-footer>