<!--
  Generated template for the EditDataPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="main">
        <ion-title>Data Collection</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <h2></h2>
    <ion-item-divider color="submain">
        <h4>Socio-Demographic Characteristics</h4>
    </ion-item-divider>
    <ion-item>
        <ion-label stacked>Name</ion-label>
        <ion-input type="text" [(ngModel)]="user.name" name="name"></ion-input>
    </ion-item>
    <ion-list>
        <ion-item>
            <ion-label stacked>Age</ion-label>
            <ion-select [(ngModel)]="user.age" name="age">
                <ion-option value="Less than 14 years">Less than 14 years</ion-option>
                <ion-option value="15 - 19 years">15 - 19 years</ion-option>
                <ion-option value="20 - 24 years">20 - 24 years</ion-option>
                <ion-option value="25 - 29 years">25 - 29 years</ion-option>
                <ion-option value="30 - 34 years">30 - 34 years</ion-option>
                <ion-option value="35 - 39 years">35 - 39 years</ion-option>
                <ion-option value="40 - 44 years">40 - 44 years</ion-option>
                <ion-option value="45 - 49 years">45 - 49 years</ion-option>
                <ion-option value="More than 49 years">More than 49 years</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <ion-item>
        <ion-label stacked>Address</ion-label>
        <ion-input type="text" [(ngModel)]="user.address" name="address"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label stacked>Descriptive Landmark</ion-label>
        <ion-input type="text" [(ngModel)]="user.landmark" name="landmark"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label stacked>Phone</ion-label>
        <ion-input type="tel" pattern="[0-9]*" [(ngModel)]="user.phone" name="phone"></ion-input>
    </ion-item>
    <ion-list>
        <ion-item>
            <ion-label stacked>Marital Status</ion-label>
            <ion-select [(ngModel)]="user.m_status" name="m_status">
                <ion-option value="Single">Single</ion-option>
                <ion-option value="Married">Married</ion-option>
                <ion-option value="Divorced">Divorced</ion-option>
                <ion-option value="Widowed">Widowed</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <ion-item>
        <ion-label stacked>If married, husband's name</ion-label>
        <ion-input type="text" [(ngModel)]="user.husband_name" name="husband_name"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label stacked>If married, husband's phone number</ion-label>
        <ion-input type="text" [(ngModel)]="user.husband_phone" name="husband_name"></ion-input>
    </ion-item>
    <ion-list>
        <ion-item>
            <ion-label stacked>Religion</ion-label>
            <ion-select [(ngModel)]="user.religion" name="religion">
                <ion-option value="Christian">Christian</ion-option>
                <ion-option value="Muslim">Muslim</ion-option>
                <ion-option value="Traditional">Traditional</ion-option>
                <ion-option value="Others">Others</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <ion-item>
        <ion-label stacked>Please Specify Religious Denomination for Christians and Muslims</ion-label>
        <ion-input type="text" [(ngModel)]="user.religion_denimination" name="religion_denimination"></ion-input>
    </ion-item>
    <ion-item-divider color="submain">
        <h4>Antenantal Care and Delivery</h4>
    </ion-item-divider>
    <ion-item>
        <ion-label stacked>When was your last menstrual period?</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="user.menstral_period" name="menstral_period" required=""></ion-datetime>
    </ion-item>
    <ion-list>
        <ion-item>
            <ion-label>Is this your first pregnancy?</ion-label>
            <ion-select [(ngModel)]="user.first_pregnancy">
                <ion-option value="Yes">Yes</ion-option>
                <ion-option value="No">No</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <ion-label fixed>If No,</ion-label>
    <ion-item>
        <ion-label stacked>How old is your last child?</ion-label>
        <ion-input type="text" [(ngModel)]="user.last_child_age" name="last_child_age"></ion-input>
    </ion-item>
    <ion-list>
        <ion-item>
            <ion-label stacked>Did you attend attenatal clinic during your last pregnancy?</ion-label>
            <ion-select [(ngModel)]="user.attenatal_during_last_pregnancy">
                <ion-option value="Yes">Yes</ion-option>
                <ion-option value="No">No</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item>
            <ion-label>Where did you deliver your last child?</ion-label>
            <ion-select [(ngModel)]="user.last_child_dlvry_location" name="last_child_dlvry_location">
                <ion-option value="Health Facility">Health Facility</ion-option>
                <ion-option value="TBA Birth Home">TBA Birth Home</ion-option>
                <ion-option value="Home">Home</ion-option>
                <ion-option value="Others">Other</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item>
            <ion-label stacked>Have you registered for antenantal care service for this pregnancy?</ion-label>
            <ion-select [(ngModel)]="user.attenatal_reg_for_pregnancy">
                <ion-option value="Yes">Yes</ion-option>
                <ion-option value="No">No</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <ion-label fixed>If Yes,</ion-label>
    <ion-list>
        <ion-item>
            <ion-label stacked>At what facility?</ion-label>
            <ion-select [(ngModel)]="user.antenantal_reg_facility" name="antenantal_reg_facility">
                <ion-option value="{{item.NAME_OF_HEALTH_FACILITY}}" *ngFor="let item of items">{{item.NAME_OF_HEALTH_FACILITY}}</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <!--ion-item *ngIf="user.antenantal_reg_facility == Others">
        <ion-label stacked>If None of the facilities above please specify</ion-label>
        <ion-input type="text" [(ngModel)]="user.antenantal_reg_facility" name="antenantal_reg_facility"></ion-input>
    </ion-item-->
    <ion-item>
        <ion-label stacked>When is your next scheduled visit?</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="user.antenantal_reg_next_schedule" name="antenantal_reg_next_schedule" required=""></ion-datetime>
    </ion-item>
    <ion-label fixed>If No,</ion-label>
    <ion-list>
        <ion-item>
            <ion-label>Why?</ion-label>
            <ion-select [(ngModel)]="user.antenantal_reg_why" name="antenantal_reg_why">
                <ion-option value="Do not know about Antenatal Care">Do not know about Antenatal Care</ion-option>
                <ion-option value="Do not know where to register for Antenatal Care">Do not know where to register for Antenatal Care</ion-option>
                <ion-option value="There are no facilities close to where I live or work">There are no facilities close to where I live or work</ion-option>
                <ion-option value="I do not have the money to register for Antenatal Care">I do not have the money to register for Antenatal Care</ion-option>
                <ion-option value="My family does not agree with registering for Antenatal Care">My family does not agree with registering for Antenatal Care</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <ion-item-divider color="submain">
        <h4>Family Planning</h4>
    </ion-item-divider>
    <ion-list>
        <ion-item>
            <ion-label stacked>Have you used any form of family planning before?</ion-label>
            <ion-select [(ngModel)]="user.fam_form_before">
                <ion-option value="Yes">Yes</ion-option>
                <ion-option value="No">No</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <ion-item-divider color="submain">
        <h4>Immunization Tracker Form</h4>
    </ion-item-divider>
    <h3>Post-natal Care</h3>
    <ion-item>
        <ion-label stacked>On what date did you have your baby?</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="user.baby_birthday" name="date" required=""></ion-datetime>
    </ion-item>
    <ion-list>
        <ion-item>
            <ion-label stacked>Where did you have your baby?</ion-label>
            <ion-select [(ngModel)]="user.baby_delivery_loctn" name="bs">
                <ion-option value="Health Facility">Health Facility</ion-option>
                <ion-option value="TBA Birth Home">TBA Birth Home</ion-option>
                <ion-option value="Home">Home</ion-option>
                <ion-option value="Others">Others</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item>
            <ion-label stacked>Have you gone for any post-natal care check up after delivery?</ion-label>
            <ion-select [(ngModel)]="user.baby_post_natal_checkup">
                <ion-option value="Yes">Yes</ion-option>
                <ion-option value="No">No</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <h3>Birth Registration</h3>
    <ion-list>
        <ion-item>
            <ion-label stacked>Was your baby birth registered?</ion-label>
            <ion-select [(ngModel)]="user.baby_birth_reg">
                <ion-option value="Yes">Yes</ion-option>
                <ion-option value="No">No</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <ion-label fixed>If Yes,</ion-label>
    <ion-list>
        <ion-item>
            <ion-label stacked>Do you have the birth certificate?</ion-label>
            <ion-select [(ngModel)]="user.baby_birth_cert">
                <ion-option value="Yes">Yes</ion-option>
                <ion-option value="No">No</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <h3>Routine Immunization Schedule</h3>
    <ion-list>
        <ion-item>
            <ion-label stacked>Has your baby received any form of immunization since birth?</ion-label>
            <ion-select [(ngModel)]="user.baby_immunization_since_birth">
                <ion-option value="Yes">Yes</ion-option>
                <ion-option value="No">No</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <ion-label fixed>If Yes,</ion-label>
    <ion-list>
        <ion-item>
            <ion-label stacked>When?</ion-label>
            <ion-select [(ngModel)]="user.baby_birth_reg_day" name="date">
                <ion-option value="At Birth">At Birth</ion-option>
                <ion-option value="At 6 Weeks Old">At 6 Weeks Old</ion-option>
                <ion-option value="At 10 Weeks Old">At 10 Weeks Old</ion-option>
                <ion-option value="At 14 Weeks Old">At 14 Weeks Old</ion-option>
                <ion-option value="At 9 Months Old">At 9 Months Old</ion-option>
                <ion-option value="After 12 Months Old">After 12 Months Old</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item>
            <ion-label stacked>Does your baby have an immunization card available for inspection?</ion-label>
            <ion-select [(ngModel)]="user.baby_birth_cert">
                <ion-option value="Yes">Yes</ion-option>
                <ion-option value="No">No</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <ion-item>
        <ion-label stacked>When is your baby's next immunization scheduled?</ion-label>
        <ion-datetime displayFormat="YYYY/MM/DD" [(ngModel)]="user.baby_next_immun_schedule_date" name="date" required=""></ion-datetime>
    </ion-item>
    <h3>Vitamin A Supplementation</h3>
    <ion-list>
        <ion-item>
            <ion-label stacked>Has your baby received vitamin A supplement since birth?</ion-label>
            <ion-select [(ngModel)]="user.baby_birth_cert">
                <ion-option value="Yes">Yes</ion-option>
                <ion-option value="No">No</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <button color="submain" ion-button (click)="saveUser()" block>Add Data</button>
</ion-content>
<ion-footer>
    <ion-toolbar color="main">
        <ion-title>&copy; Corona Management Systems</ion-title>
    </ion-toolbar>
</ion-footer>